<div class=" w-full py-6 px-3">
  <div class="bg-white shadow-xl rounded-lg overflow-hidden ">


    {{ 'product-1' | placeholder_svg_tag: 'w-full h-80 overflow-hidden object-cover object-center' }}

    <div class="flex flex-col p-4">
      <span class="font-medium">Placeholder Title</span>
      <span class="text-gray-500">{{ '999' | money }}</span>
    </div>

  </div>
</div>