<div class=" container mx-auto  text-gray-600">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <div>
      <img
        class=" w-full h-[920px]"
        src="{{ 'brand.png'| asset_url }}"
        alt="">
    </div>
    <div class="">
      <h2 class="text-3xl font-medium font-syne tracking-wide mb-4">Without each other, what do we truly have?</h2>
      <h1 class="text-6xl font-medium text-custom font-instrument tracking-wide mb-4">We are a community led brand</h1>
      <p class="text-lg mb-5">A catalyst for helping to create heaven on earth within, to bring heaven on earth to the planet.</p>
      <div class="flex gap-6 items-center py-5 my-2 px-6 rounded-xl" style="border: 1px solid #B8AF9E;">
        <div class=" text-backgroudColor text-5xl px-2 py-2" style="border-right: 2px solid #B8AF9E;">01</div>
        <div>
          <h2 class="text-2xl font-semibold font-syne">Global Awareness</h2>
          <p class=" text-lg font-syne ">In an era of increasing environmental concerns and climate change, sustainability is not just a trend but a global imperative. By emphasizing sustainability in our brand, we acknowledge our responsibility to contribute positively to the planet's well-being.</p>
        </div>
      </div>
      <div class="flex gap-6 items-center py-5 my-2 px-6 rounded-xl" style="border: 1px solid #B8AF9E;">
        <div class=" text-backgroudColor text-5xl px-2 py-2" style="border-right: 2px solid #B8AF9E;">02</div>
        <div>
          <h2 class="text-2xl font-semibold font-syne">Community Engagement</h2>
          <p class=" text-lg font-syne ">We recognize the power of collective action. By building a community around our brand, we create a platform for like-minded individuals to come together, share ideas, and work towards common goals related to sustainability and well-being.</p>
        </div>
      </div>
      <div class="flex gap-6 items-center py-5 my-2 px-6 rounded-xl" style="border: 1px solid #B8AF9E;">
        <div class=" text-backgroudColor text-5xl px-2 py-2" style="border-right: 2px solid #B8AF9E;">03</div>
        <div>
          <h2 class="text-2xl font-semibold font-syne">Freedom of Choice</h2>
          <p class=" text-lg font-syne ">Our commitment to freedom aligns with the idea that individuals should have the freedom to choose a lifestyle that aligns with their values. By promoting sustainability, we enable people to make choices that benefit not only themselves but the planet as a whole.</p>
        </div>
      </div>
      <div class="flex gap-6 items-center py-5 my-2 px-6 rounded-xl" style="border: 1px solid #B8AF9E;">
        <div class=" text-backgroudColor text-5xl px-2 py-2" style="border-right: 2px solid #B8AF9E;">04</div>
        <div>
          <h2 class="text-2xl font-semibold font-syne">Empowerment</h2>
          <p class=" text-lg font-syne ">We believe in providing opportunities for personal and collective growth. By focusing on opportunity, we aim to empower individuals within our community to pursue their dreams, whether that's starting a sustainable business or making a positive impact in their local communities.</p>
        </div>
      </div>

    </div>
  </div>
</div>