<div class="flex  flex-col items-center my-8">
  <h1 class="text-center text-5xl my-7">{{ section.settings.title }}</h1>
  {% form 'contact' %}
    <div class="max-w-6xl  mx-auto flex-1 justify-center items-center px-5">
      <div class="flex mb-3 px-1">
        <div class="px-3 md:w-1/2">
          <label for="contact_name" class="text-xs font-medium text-gray-600 uppercase">Name</label>
          <input
            type="text"
            name="contact[name]"
            id="contact_name"
            class="border py-3 px-4 mb-4 text-gray-500 w-full">
        </div>
        <div class="px-3 md:w-1/2">
          <label for="contact_email" class="text-xs uppercase text-gray-600 font-medium">Email</label>
          <input
            type="email"
            name="contct[email]"
            id="contact_email"
            class="border text-gray-500 py-3 px-4 mb-4 w-full">
        </div>
      </div>
      <div class="px-3">
        <label for="contact_message" class="text-xs font-medium text-gray-500 uppercase">Message</label>
        <textarea
          name="contact[message]"
          id="contact_message"
          class="border text-gray-600 py-6 px-4 mb-3 w-full"></textarea>

      </div>
      <div class="px-3">
        <input
          type="submit"
          name="submit contact"
          class="px-4 py-2  w-full bg-gray-900 text-white hover:bg-gray-500">
      </div>
    </div>


  {% endform %}
</div>

{% schema %}
  {
    "name": "contact form",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Tilte"
      }
    ],
    "presets": [
      {
        "name": "contact form"
      }
    ]
  }
{% endschema %}