<div class=" container mx-auto py-28">
    <h1 class="text-center font-instrument text-5xl">{{ section.settings.title }}</h1>

    <div class="w-full grid grid-cols-1 md:grid-cols-3 ">
      {% for product in section.settings.featured-collection.products limit :section.settings.range_of_products %}
        {% render 'product-card'
          , product_product: product %}
          {% else %}
      {% endfor %}
    </div>
    <div class="text-center my-8">
      <a class="rounded-full px-8 py-3 text-white text-base font-bold hover:bg-custom bg-backgroudColor" href="{{ routes.all_products_collection_url }}">View All Products</a>
    </div>
    </div>
    

{% schema %}
  {
    "name": "featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Organic & Premium Flavors",
        "label": "Title"
      }, 
      {
        "type": "collection",
        "id": "featured-collection",
        "label": "collection"
      },
      {
        "type": "range",
        "id": "range_of_products",
        "min": 3,
        "max": 12,
        "default": 3,
        "label": "Number Of Products"
      }
    ],
    "presets": [
        {
            "name": "featured collection"
        }
    ]
  }
{% endschema %}