<div class="py-8">
  <h1 class="text-center text-xl">{{ section.settings.title }}</h1>

  <div class="max-w-6xl mx-auto">
    <div class="w-full grid grid-cols-1 md:grid-cols-4 ">
      {% for product in section.settings.featured-collection.products limit :section.settings.range_of_products %}
        {% render 'product-card'
          , product_product: product %}
          {% else %}
          {% for item in (1..4) %}
            {% render 'product-card-placeholder',  %}
          {% endfor %}
      {% endfor %}
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Feature Collection",
        "label": "Title"
      }, 
      {
        "type": "collection",
        "id": "featured-collection",
        "label": "collection"
      },
      {
        "type": "range",
        "id": "range_of_products",
        "min": 4,
        "max": 12,
        "default": 4,
        "label": "Number Of Products"
      }
    ],
    "presets": [
        {
            "name": "featured collection"
        }
    ]
  }
{% endschema %}