<div class=" my-36 container mx-auto text-custom">
  <div class="text-center">
    <h2 class="font-syne text-2xl font-semibold mb-5 text-black">Why We Stand Out</h2>
    <h1 class="font-instrument text-5xl mb-3">Heavenly Offerings</h1>
    <p class="font-syne text-base">HVN ON ERTH is a community led brand with the intention to add value where we believe people need it most</p>
  </div>

  <div class=" grid grid-cols-2 gap-8 md:grid-cols-4 px-4 text-gray-600 my-7 ">
    <div class="flex rounded-3xl hover:bg-backgroudColor hover:text-white" style="border: 1px solid #B8AF9E;">
      <div class="py-14 px-7 ">
        <div class="mb-4">{% render 'icon-card1' %}</div>
        <h2 class="font-syne text-2xl mb-4">News</h2>
        <p class="text-base mb-5">At HVN ON ERTH, our news is a beacon of hope, highlighting stories</p>
        <a href="#" class=" text-base font-syne font-bold">Read More</a>
      </div>
    </div>
    <div class="flex rounded-3xl hover:bg-backgroudColor hover:text-white" style="border: 1px solid #B8AF9E;">
      <div class="py-14 px-7 ">
        <div class="mb-4">{% render 'icon-card2' %}</div>
        <h2 class="font-syne text-2xl mb-4">Rich Food</h2>
        <p class="text-base mb-5">At HVN ON ERTH, our news is a beacon of hope, highlighting stories</p>
        <a href="#" class=" text-base font-syne font-bold">Read More</a>
      </div>
    </div>
    <div class="flex rounded-3xl hover:bg-backgroudColor hover:text-white" style="border: 1px solid #B8AF9E;">
      <div class="py-14 px-7 ">
        <div class="mb-4">{% render 'icon-card3' %}</div>
        <h2 class="font-syne text-2xl mb-4">Opportunities</h2>
        <p class="text-base mb-5">At HVN ON ERTH, our news is a beacon of hope, highlighting stories</p>
        <a href="#" class=" text-base font-syne font-bold">Read More</a>
      </div>
    </div>
    <div class="flex rounded-3xl hover:bg-backgroudColor hover:text-white" style="border: 1px solid #B8AF9E;">
      <div class="py-14 px-7 ">
        <div class="mb-4 ">{% render 'icon-card4' %}</div>
        <h2 class="font-syne text-2xl mb-4">Community</h2>
        <p class="text-base mb-5">At HVN ON ERTH, our news is a beacon of hope, highlighting stories</p>
        <a href="#" class=" text-base font-syne font-bold">Read More</a>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 px-4 my-7">
    <div data-aos="fade-right">
      <img
        class="w-full"
        src="{{ 'episode1.png'| asset_url }}"
        alt="">
      <div class="my-4">
        <h2 class=" text-2xl font-syne font-semibold">HVN ON ERTH Podcast Episode 1:
        </h2>
        <h1 class="text-2xl font-syne font-bold">"Unveiling Fear: Awakening the Higher Consciousness Within"</h1>
        <p class="text-base font-syne leading-8">In this enlightening conversation, Pranna the Black Shaman and Sophia Kapri discuss the concept of fear, its illusory nature, and how individuals condition themselves to accept it. They explore the power of reconditioning the psyche to overcome fear by activating a higher self-consciousness, thus transforming negative emotions like anxiety, nervousness, and doubt into positive energy.</p>
        <button class="font-syne w-full py-5 text-base font-bold rounded-xl  hover:bg-backgroudColor hover:text-white my-3" style="border: 1px solid #B8AF9E;">Watch Now</button>
      </div>
    </div>
    <div class=" bg-cover bg-center rounded-3xl" style="background-image: url('{{ 'travel.png'| asset_url }}');">
      <div class="py-72 text-white text-center">
        <h2 class=" font-syne text-2xl mb-3">Why People Are Ditching</h2>
        <h1 class=" font-instrument text-6xl mb-4">The Old System to Travel</h1>
        <p class="text-base">Our services include strategic and practical consultations, including:</p>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
      AOS.init();
</script>