<div class=" w-full">
  <div class="py-5" style="background-image: url({{ 'HVN.png'| asset_url }});"></div>
</div>
<div class="bg-cover text-custom " style="background-image: url('{{ 'hero-background.png' | asset_url }}');">
  <div class=" grid grid-cols-1 md:grid-cols-2">
    <div class="md:py-[218px] py-7  ps-28 text-white">
      <h2 class=" font-syne text-2xl mb-2">Enhancing one's internal &</h2>
      <h1 class="font-instrument text-[64px] leading-none mb-2">External well-being through all forms of life</h1>
      <p class="font-syne text-base mb-2">HVN ON ERTH is a vibrant community and brand dedicated to spreading positivity, offering inspiring news, abundant opportunities, curated shops, and promoting holistic health and wellness - all with the sole purpose of uplifting and empowering people.</p>
      <div class="space-x-6">
        <button class=" bg-[#E6E1D8] py-5 px-7 rounded-xl text-xl font-syne font-semibold my-5 text-custom">Partner With Us</button>
        <button class=" hover:bg-buttonColor py-5 px-7 rounded-xl text-xl font-syne font-semibold my-5 text-custom">Watch Video</button>
      </div>
    </div>
    <div class="relative">
      <video
        autoplay
        loop
        muted
        class="absolute inset-0 w-full h-full object-cover">
        <source src="{{ 'video.mp4' | asset_url }}" type="video/mp4">
      </video>
    </div>
  </div>
</div>