<div class="w-full bg-cover  flex items-center justify-center" style="background-image: url({{ 'hero-bg.png'| asset_url }});">
  <h1 class=" p-60 font-instrument text-white text-6xl">{{ page.title }}</h1>
</div>