<div class=" container mx-auto px-3  text-gray-600 my-40">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">

    <div class="">
      <h2 class="text-3xl font-medium font-syne tracking-wide mb-4">Where There Is Trust, There Is Us</h2>
      <h1 class="text-6xl font-medium text-custom font-instrument tracking-wide mb-4">At HVN ON ERTH, trust is our bedrock.</h1>
      <p class="text-lg font-syne mb-5">Our authentic commitment to sustainability, transparency, community, and quality empowers us to inspire positive change. Join us in a journey built on trust, where together, we create a brighter, more sustainable future.</p>

      <h2 class="text-2xl font-syne font-bold">Our Partners</h2>


      <div class="flex justify-between py-5 my-4 px-8 rounded-xl md:me-44" style="border: 1px solid #B8AF9E;">
        <div>
          <h2 class="text-xl font-bold font-syne">HVN’S Haven INC</h2>
        </div>
        <div>
          <span>{% render 'partner-dropdown' %}</span>
        </div>
      </div>
      <div class="flex justify-between py-5 my-4 px-8 rounded-xl md:me-44" style="border: 1px solid #B8AF9E;">
        <div>
          <h2 class="text-xl font-semibold font-syne">SEEDED INC</h2>
        </div>
        <div>
          <span>{% render 'partner-dropdown' %}</span>
        </div>
      </div>
      <div class="flex justify-between py-5 my-4 px-8 rounded-xl md:me-44" style="border: 1px solid #B8AF9E;">
        <div>
          <h2 class="text-xl font-semibold font-syne">KILLGREED</h2>
        </div>
        <div>
          <span>{% render 'partner-dropdown' %}</span>
        </div>
      </div>
      <div class="flex justify-between py-5 my-4 px-8 rounded-xl md:me-44" style="border: 1px solid #B8AF9E;">
        <div>
          <h2 class="text-xl font-semibold font-syne">HVN STUDIOS</h2>
        </div>
        <div>
          <span>{% render 'partner-dropdown' %}</span>
        </div>
      </div>
      <div class="flex justify-between py-5 my-4 px-8 rounded-xl md:me-44" style="border: 1px solid #B8AF9E;">
        <div>
          <h2 class="text-xl font-semibold font-syne">THE SOURCELA</h2>
        </div>
        <div>
          <span>{% render 'partner-dropdown' %}</span>
        </div>
      </div>

    </div>
    <div>
      <img
        class="w-full xl:h-[700px]"
        src="{{ 'partner-img.svg'| asset_url }}"
        alt="">
    </div>
  </div>
</div>