<div class=" w-full">
  <div class="py-5" style="background-image: url({{ 'HVN.png'| asset_url }});"></div>
</div>
<div class="w-full bg-cover  flex items-center justify-center" style="background-image: url({{ 'hero-bg.png'| asset_url }});">
  <h1 class=" p-60 font-instrument text-white text-6xl">
    Podcast
  </h1>
</div>
<div class="max-w-7xl mx-auto text-gray-600 mt-20">
  <div class=" grid grid-cols-2 gap-5 items-center py-20">
    <div class="">

      <img
        class=" object-fill"
        src="{{ 'podcast2.svg'| asset_url }}"
        alt="">

    </div>
    <div>
      <div>
        <h2 class="text-3xl font-medium font-syne tracking-wide mb-4">Unveiling Fear:</h2>
        <h1 class="text-6xl font-medium text-custom font-instrument tracking-wide mb-4">Awakening The Higher Consciousness Within
        </h1>
        <p class="text-lg font-syne mb-5">In this enlightening conversation, Pranna the Black Shaman and Sophia Kapri discuss the concept of fear, its illusory nature, and how individuals condition themselves to accept it. They explore the power of reconditioning the psyche to overcome fear by activating a higher self-consciousness, thus transforming negative emotions like anxiety, nervousness, and doubt into positive energy. The discussion covers the impact of social media on fear, the importance of controlling one's own energy and thoughts, and the role of emotions as energy in motion, emphasizing self-awareness and control over one's emotional responses. Pranna encourages individuals to tap into their psyche and use their inner power to shape their reality, challenging them to take control of their emotions and thoughts to live a life free from fear.
        </p>
      </div>
      <div class="w-full">
        <button
          class=" my-4 w-full hover:bg-backgroudColor text-custom font-medium hover:text-white text-center py-3 rounded-2xl"
          style="border: 1px solid #B8AF9E;"
          onmouseover="this.style.borderColor='#B8AF9E'"
          onmouseout="this.style.borderColor='#B8AF9E'">Watch Now</button>

      </div>
    </div>
  </div>
  <div class=" grid grid-cols-2 gap-5 items-center py-20">

    <div>
      <div>

        <h2 class="text-3xl font-medium font-syne tracking-wide mb-4">Now Streaming</h2>
        <h1 class="text-6xl font-medium text-custom font-instrument tracking-wide mb-4">Now Streaming On Spotify
        </h1>
        <p class="text-lg font-syne mb-5">The HVN ON ERTH Podcast - your gateway to elevated conversations, inspiring music, & thought-provoking discussions. Join us on YouTube and Spotify as we explore a diverse range of topics aimed at uplifting your spirit and raising your vibration. From enlightening conversations to soul-stirring music, our podcast is designed to ignite curiosity, foster understanding, and elevate consciousness. Tune in and let HVN ON ERTH be your guide to a higher state of being.
        </p>
      </div>
      <div class="w-full">
        <button
          class=" my-4 w-full hover:bg-backgroudColor text-custom font-medium hover:text-white text-center py-3 rounded-2xl"
          style="border: 1px solid #B8AF9E;"
          onmouseover="this.style.borderColor='#B8AF9E'"
          onmouseout="this.style.borderColor='#B8AF9E'">Spotify</button>

      </div>

    </div>
    <div class="">

      <img
        class=" object-fill"
        src="{{ 'podcast1.svg'| asset_url }}"
        alt="">

    </div>
  </div>

</div>